<h1>REGISTER</h1>

<form action="/register" method="POST">
	<div>
		<label for="name">name</label>
		<input type="text" id="name" name="name" required />
		<br />

		<label for="email">email</label>
		<input type="text" id="email" name="email" required />
		<br />

		<label for="password">password</label>
		<input type="text" id="password" name="password" required />
		<br />
	</div>

	<button type="submit">register</button>
</form>
<a href="/login">to login page</a>
